@import url("https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Yeon Sung", cursive;
  font-size: 24px;
}
.setting-backbutton {
  display: flex;
  position: absolute;
  margin-left: 20px;
  margin-top: 1px;
}
.setting-title {
  display: flex;
  justify-content: center;
  margin: 30px 20px;
}
.setting-layout-small {
  margin: 0 auto;
  width: 355px;
  height: 123px;
  background: #e9f3ef;
  border-radius: 10px;
  margin-bottom: 30px;
  padding-top: 10px;
}
.setting-layout-normal {
  margin: 0 auto;
  width: 355px;
  height: 100%;
  background: #e9f3ef;
  border-radius: 10px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.setting-layout-big {
  margin: 0 auto;
  width: 355px;
  height: 100%;
  background: #e9f3ef;
  border-radius: 10px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  padding-top: 10px;
}
.setting-layout-small .setting-icontitle {
  display: flex;
  margin-left: 20px;
  margin-bottom: 30px;
}
.setting-layout-small .setting-icontitle h3 {
  margin-left: 10px;
}
.setting-layout-small .setting-icon {
  display: flex;
  margin-left: 20px;
  margin-bottom: 30px;
}
.setting-layout-small .setting-movebun {
  width: 50px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  border: 1px solid #ffffff;
  background: #ffffff;
  margin: 0 20px;
}
.setting-layout-small .setting-icon a {
  color: #1028ff;
}
.setting-layout-small .setting-icon .setting-movebun .setting-ellipse {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #62d2a2;
  box-shadow: 4px 4px 8px #62d2a260;
  transition: 1s;
}
.setting-ellipse.move {
  transform: translate(30px);
}
.setting-layout-big .setting-icontitle {
  display: flex;
  margin-left: 20px;
  margin-bottom: 20px;
}
.setting-layout-big .setting-icontitle h3 {
  margin-left: 10px;
}

.setting-layout-normal .setting-icontitl {
  display: flex;
  margin-left: 20px;
  margin-bottom: 10px;
}

.setting-layout-normal > .setting-icontitl h3 {
  margin-left: 10px;
}
.setting-layout-normal .setting-vision .space-between {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  margin-top: 10px;
  font-size: 18px;
  padding: 10px;
}
.setting-layout-normal .setting-vision .space-between > a {
  color: #1028ff;
}

.container.acc {
  filter: brightness(50%);
  background: rgba(0, 0, 0, 0.7);
}
.setting-layout-big {
}
